*{
    margin: 0;
    padding:0;
    font-family: 'Lato', sans-serif;
}

/* header styles */
.nav-parent{
    border-radius: 16px;
    background-image: url('../Assignment-new-year-new-mission/images/Banner\ Image.png'); 
}
.nav-child {
    
    color: #FFFFFF;
    width: 50%;
    margin: 0 auto;
    padding: 200px;
    
}
.nav-child h4{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    text-align: center;
}
.nav-child h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    text-align: center;
}
.container-child{
    
    width: 70%;
    margin: 100px auto;
    
}

    

.container-child h2, h3, h4{
    text-align: center;
    
}
.container-child h2 {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    font-family: Inter;
}
.container-child h4 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 15px;

} 
.container-child h3{
    color: #070211;
    font-weight: 700;
    font-size: 48px;
    font-family: Inter;
    margin-bottom: 30px;


} 
.main-section{
 background-repeat: no-repeat;
    background-image: url('../Assignment-new-year-new-mission/images/Vectorrr.png');
}
.main-section-container{
display: flex;
width: 80%;
margin: 0 auto;
padding: 50px 0;
}
.main-section-child{
    color: #FFF;
    
}
.main-section-child h2{
    
    letter-spacing: 7px;
    font-family: Merriweather;
    font-size: 64px;
    line-height: 88px;
    font-weight: 900;


}
.main-section-child2 img {
    
    
}

    
    
    
    
